langchain
ipykernel
langchain-community
pypdf
streamlit
bs4
arxiv
pymupdf
wikipedia
mysql-connector-python
langchain-openai
langchain-text-splitters
chromadb
faiss-cpu
duckdb
pandas
openai
langchain-groq
SQLAlchemy
validators==0.28.1
unstructured
pytube
numexpr
langchain-classic
